# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# env files (can opt-in for committing if needed)
.env*
NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY=pk_test_aW50ZW5zZS1wYW50aGVyLTMyLmNsZXJrLmFjY291bnRzLmRldiQ
CLERK_SECRET_KEY=sk_test_rtfB2bya3Lh18A9yjbmZ9PDCceclEv27XcNcjrfGW1verc

# vercel
.vercel
POSTGRES_URL=postgres://postgres.umeicjsuwplgodcwvouw:bymCZMxtFsi4akso@aws-1-us-east-1.pooler.supabase.com:6543/postgres?sslmode=require&supa=base-pooler.x
POSTGRES_DATABASE=postgres

# typescript
*.tsbuildinfo
next-env.d.ts

/app/generated/prisma
.env*.local
